<h2>Servicios</h2>
<div class="services-list">
  <% @services.each do |service| %>
    <article id="service_<%= service.id %>" class="service_post">
      <div class="service_header">
        <p class="service_name"><%= service.name %></p>
        <div class="action-container">
          <div class="transaction_action" data-service-id="<%= service.id %>"></div>
        </div>
      </div>
      <div class="service_content">
        <p><strong>Descripción: </strong><span class="service_description"><%= service.description %></span></p>
      </div>
    </article>
  <% end %>
</div>