<h2>Servicios</h2>
<span id="service-filter"></span>
<%= render 'shared/services', services: @services, showActions: true %>
<ul class="service_pagination pagination">
  <% @pages.each do |page| %>
    <li class="page-item">
    <%= link_to page, request.params.merge(page: page), class: 'page-link'%>
    </li>
  <% end %>
</ul>