<h2>Categorías</h2>
<% @supcategories.each do |supcategory, categories| %>
  <p class="category_supcategory"><%= supcategory %></p>
  <ul>
    <% categories.each do |category| %>
    <li id="category_<%= category.id %>">
      <div class="category_name"><%= category.name %></div>
    </li>
    <% end %>
  </ul>
<% end %>