<article class="image-collection">
  <%= image_tag "Cocina.jpg", id: "kitchen-image" %>
  <%= image_tag 'Paino-Keys-_art.jpg&v=1491770198.jpeg', id: 'piano-image' %>
  <%= image_tag "walkie.png", id: "dog-image" %>
  <p id="right-message">
    ¿Quieres aprender a cocinar o a tocar el piano?¿No tienes tiempo y
    necesitas sacar a pasear a tu mejor amigo? Pues has econtrado la
    solución
  </p>
  <p id="solution">
    Apunatate a nuestro Banco de Tiempo. Conoceras a tus vecinos y
    solucionaras tus problemas.
  </p>
  <p id="inviting-p">Apuntate Ahora!!!</p>
</article>