<div class="mt-7 container">
  <h2 class="mb-5 border-bottom d-inline-block border-dark">Pedir servicio</h2>
  <%= render 'shared/services', services: [@service], showActions: false %>

  <span id="service-transaction-form" data-service-data="<%= { service_id: @service.id }.to_json %>"></span>
</div>