<h2 class="mb-3 font-weight-bold">Mis Servicios</h2>
<%= link_to 'Nuevo Servicio', new_service_path, class: 'new_service_button btn btn-sm border-primary mb-4' %>

<% if @services.empty? %>
  <p class="text-center mt-3"> Actualmente no ofrece ningun servicio, considere crear uno. </p>
<% end %>

<%= render 'shared/services', services: @services, showEditActions: true %>

