/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$navbar-height: 50px;
$container-size: 20px;
$navbar-margin-top: 15px;

@import "bootstrap";
@import "flash";
@import "services";
@import "font";

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.block {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.hover-primary:hover {
  background-color: #007bff
}

.day:hover {
  cursor: pointer;
}

.next-month:hover {
  cursor: pointer;
}

.previous-month:hover {
  cursor: pointer;
}

.content_list {
  line-height: 25px;
  height: 200px;
  overflow-y: scroll;
}

.one-letter-square {
  padding: 0 5px 0 5px;
}

.close_filter, .content_list li, .logout_button, .toggle_button {
  cursor: pointer;
}

.font-size-large {
  font-size: large;
}

.mt-7 {
  margin-top: 4rem;
}

.mb-7 {
  margin-bottom: 4rem;
}

.mark-name {
  font-weight: bold;
  font-size: 1.2em;
}

#notifications-counter {
  top: -30%;
  right: -60%;
  background-color: #c82333;
  border-radius: 50%;
  padding: 1px 5.5px 1px 5.5px;
}

