<header class="navbar" id="navbar">
  <div id="session_actions">
    <%= link_to 'Iniciar sesión', new_user_session_path, class: 'login_button' %>
    <%= link_to 'Registrarse', new_user_registration_path, class: 'sign_up_button' %>
  </div>
</header>