<% props = {
    isLogged: user_signed_in?,
    user_name: user_signed_in? ? current_user.name : ""
  }.to_json
%>

<header>
  <nav class="navbar left-content" id="navbar">
    <%= link_to 'BancoDeTiempo', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? then %>
      <li class="navbar-item"><%= link_to 'Servicios', services_path, class: 'service_link nav-item' %></li>
    <% end %>
    </ul>
    <div id="session_actions" data="<%= props %>"> </div>
  </nav>

</header>