<% props = {
    isLogged: user_signed_in?,
    user_name: user_signed_in? ? current_user.name : ""
  }.to_json
%>

<header class="navbar" id="navbar">
  <div class="left-content">
    <%= link_to 'BancoDeTiempo', root_path, class: 'brand' %>
  </div>
  <div id="session_actions" data="<%= props %>"> </div>
</header>